* {
    box-sizing: border-box
}

#title {
    background-color:#26CCC2;;
}

.bigmapdiv {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
    height: 800px;
    flex-flow: column;
    margin-bottom: 10rem;
}

.map {
    background-color: #FFF57E;
    border-radius: 1em;
    text-align: center;
    font-size: larger;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.33);
}

#mainmap {
    border:0;
    border-radius: 2em;
    padding: 1rem;
    height: 50rem;
    width: 80rem;
    flex-shrink: 1;
}

#contact-us {
    background-color: #6AECE1;
    border-radius: 2em;
    padding: 1rem;
    margin: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.33);
}

.bigbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    gap: 10px;
    background-color: #6AECE1;
    width: 100%;
    height: 20rem;
    padding: 1rem;
}

.smallerbox {
    height: 17rem;
    width: 50%;
    background-color: #FFF57E;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo-loc {
    width: 3rem;
    border-radius: 1em;
}

.flexlogo {
    display: flex;
    gap: 2rem;
    background-color: #FFB76C;
    border-radius: 4rem;
    padding: 7px;
    font-size: larger;
    margin: 0.45rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.33);
}

.flexlogo:hover {
    opacity: 0.7;
    cursor: grab;
}

.logo-text {
    margin-top: 1rem;
}