* {
    box-sizing: border-box
}

img {
    width: 100%;
}

#title {
    background-color: #6AECE1;
}

.bigmapdiv {
    display: flex;
    background-color: #26CCC2;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
    height: 800px;
    flex-flow: column;
}

#contact-us {
    background-color: #6AECE1;
    border-radius: 2em;
    padding: 1rem;
}

.map {
    background-color: #FFF57E;
    border-radius: 1em;
    text-align: center;
    font-size: larger;
}

#mainmap {
    border:0;
    border-radius: 2em;
    padding: 1rem;
    height: 15rem;
    width: 30rem;
}
.bigbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    gap: 10px;
    background-color: #6AECE1;
    width: 100%;
    height: 20rem;
    padding: 1rem;
}

.smallerbox {
    height: 17rem;
    width: 50%;
    background-color: #FFF57E;
    justify-content: space-evenly;
    display: flex;
    flex-flow: column;
    border-radius: 1rem;
}

.logo {
    width: 3rem;
    border-radius: 1em;
}

.flexlogo {
    display: flex;
    gap: 2rem;
    background-color: #FFB76C;
    border-radius: 4rem;
    padding: 7px;
    font-size: larger;
}